---
import { VARSEL_API_URL, VARSLER_URL } from "astro:env/server";
import ClientError from "@src/shared/client-error/ClientError";
import PersonalContentLogger from "@src/shared/legacy/PersonalContentLogger";
import { fetchData } from "@src/shared/utils/server/fetch";
import type { Language } from "@src/shared/utils/server/language";
import logger from "@src/shared/utils/server/logger";
import { getAudience, getOboToken } from "@src/shared/utils/server/token";
import IngenVarslerIkon from "./assets/IngenVarslerIkon";
import VarselBjelleDotMedFyll from "./assets/VarselBjelleDotMedFyll";
import VarselBjelleDotUtenFyll from "./assets/VarselBjelleDotUtenFyll";
import style from "./Varsler.module.css";
import { text } from "./varslerText";
import { beskjedSingular, buildText, hasVarsler, oppgaveSingular } from "./varslerUtils";

const audience = getAudience("tms-varsel-api");
const oboToken = await getOboToken(Astro.locals.token, audience);

let data = { oppgaver: 0, beskjeder: 0, innbokser: 0 };
let isError = false;

try {
  data = await fetchData(oboToken, VARSEL_API_URL);
} catch (error: any) {
  logger.error(`Fetching varsler failed. ${error.message}`);
  isError = true;
}

const oppgaver = data.oppgaver || 0;
const beskjeder = data.beskjeder + data.innbokser;
const varsler = beskjeder + oppgaver;

const language = Astro.currentLocale as Language;
const oppgaveText = oppgaveSingular(oppgaver) ? text.oppgave[language] : text.oppgaver[language];
const beskjedText = beskjedSingular(beskjeder) ? text.beskjed[language] : text.beskjeder[language];
---

{isError && <ClientError client:only="react" />}
{
  () => {
    if (hasVarsler(varsler)) {
      return (
        <a href={VARSLER_URL} class={style.varsler}>
          <div class={style.ikonRektangel}>
            <VarselBjelleDotMedFyll />
            <VarselBjelleDotUtenFyll />
          </div>
          <div class={style.container}>
            <h3 class={style.heading}>{text.varsler[language]}</h3>
            <p class={style.tekst}>{buildText(beskjeder, oppgaver, beskjedText, oppgaveText, text.og[language])}</p>
          </div>
        </a>
      )
    } else {
      return (
        <a href={VARSLER_URL} class={style.varsler}>
          <IngenVarslerIkon />
          <div class={style.container}>
            <h3 class={style.heading}>{text.varsler[language]}</h3>
            <p class={style.tekst}>{text.ingenVarsler[language]}</p>
          </div>
        </a>
        )
      }
    }
}

<PersonalContentLogger event={"varsler"} value={varsler > 0 ? true : false} client:only="react" />
