---
import { beskjedSingular, buildText, hasVarsler, oppgaveSingular } from "../../../utils/client/varsler";
import { text } from "../../../language/varsler";
import { getAudience, getOboToken } from "../../../utils/server/token";
import { fetchData } from "../../../utils/server/fetch";
import { varselApiUrl } from "./varslerUrls";
import { varslerUrl } from "./varslerUrls";
import IngenVarslerIkon from "./ikoner/IngenVarslerIkon";
import VarselBjelleDotMedFyll from "./ikoner/VarselBjelleDotMedFyll";
import VarselBjelleDotUtenFyll from "./ikoner/VarselBjelleDotUtenFyll";
import { getLanguage } from "../../../language/language";
import ClientError from "../../client-error/ClientError";
import style from "./Varsler.module.css";

const audience = getAudience("tms-varsel-api");
const oboToken = await getOboToken(Astro.locals.token, audience);

let data = { "oppgaver": 0, "beskjeder": 0, "innbokser": 0 };
let isError = false;

try {
    data = await fetchData(oboToken, varselApiUrl);
  } catch (error: any) {
    console.error("Fetching varsler failed.", error.message);
    isError = true;
}

const oppgaver = data.oppgaver || 0;
const beskjeder = data.beskjeder + data.innbokser;
const varsler = beskjeder + oppgaver;

const language = getLanguage(Astro.url);
const oppgaveText = oppgaveSingular(oppgaver) ? text.oppgave[language] : text.oppgaver[language];
const beskjedText = beskjedSingular(beskjeder) ? text.beskjed[language] : text.beskjeder[language];
---

{isError && <ClientError client:only="react" />}
{!hasVarsler(varsler) ? (
    <a href={varslerUrl} class={style.varsler}>
      <IngenVarslerIkon />
      <div class={style.container}>
        <h3 class="navds-heading navds-heading--small">{text.varsler[language]}</h3>
        <p class="navds-body-long navds-body-long--small">
          {text.ingenVarsler[language]}
        </p>
      </div>
    </a>
  ) : (
    <a href={varslerUrl} class={style.varsler}>
      <div class={style.ikonRektangel}>
        <VarselBjelleDotMedFyll />
        <VarselBjelleDotUtenFyll />
      </div>
      <div class={style.container}>
        <h3 class="navds-heading navds-heading--small">{text.varsler[language]}</h3>
        <p class="navds-body-long navds-body-long--small">
          {buildText(beskjeder, oppgaver, beskjedText, oppgaveText, text.og[language])}
        </p>
      </div>
    </a>)
}

