---
import ClientError from "@src/shared/client-error/ClientError";
import { fetchMicrofrontend } from "@src/shared/utils/server/fetch";
import { getAudience, getOboToken } from "@src/shared/utils/server/token";
import styles from "./Microfrontend.module.css";
import type { Microfrontend } from "./microfrontendTypes";

interface Props {
  microfrontend: Microfrontend;
  locale: string;
}

const { microfrontend, locale } = Astro.props;

const audience = getAudience(microfrontend.appname, microfrontend.namespace);
const oboToken = await getOboToken(Astro.locals.token, audience, Astro.logger);

let isError = false;
let html = "";

try {
  html = await fetchMicrofrontend(oboToken, `${microfrontend.url}/${locale}`);
} catch (error) {
  Astro.logger.error(
    `Failed to fetch microfrontend: ${microfrontend.appname} with url: ${microfrontend.url} and locale: ${locale}. Error: ${error}`,
  );
  isError = true;
  html = await fetchMicrofrontend(oboToken, `${microfrontend.url}/${locale}/${microfrontend.fallback}`);
}
---

{isError && <ClientError client:only="react" />}
<div class={styles.wrapper}>
  <Fragment set:html={html} />
</div>
