---
import InnboksTag from "./InnboksTag";
import { Language } from "../../language/language";
import { innboksUrl } from "./innboksUrls";
import { antallVarslerUrl } from "./innboksUrls";
import { text } from "./language/text";
import { getAudience, getOboToken } from "../../utils/server/token";
import { BodyLong, Heading } from "@navikt/ds-react";
import { ChevronRightIcon as Chevron } from "@navikt/aksel-icons";
import { fetchData } from "../../utils/server/fetch";
import ClientError from "@shared/client-error/ClientError";
import PersonalContentLogger from "@shared/legacy/PersonalContentLogger";
import logger from "@utils/server/logger";
import styles from "./Innboks.module.css";

interface Props {
  language: Language;
}

const audience = getAudience("tms-varsel-api");
const oboToken = await getOboToken(Astro.locals.token, audience);

let data = { innbokser: 0 };
let isError = false;

try {
  data = await fetchData(oboToken, antallVarslerUrl);
} catch (error: any) {
  logger.error(`Fetching innboks failed. ${error.message}`);
  isError = true;
}

const innbokser = data.innbokser;
const type = innbokser > 0 ? "NyMelding" : "IngenNyMelding";
const { language } = Astro.props;
---

{isError && <ClientError client:only="react" />}
<div class={styles.container}>
  <a class={`${styles.headerContainer} ${styles[`headerContainer${type}`]}`} href={innboksUrl} id="innboks">
    <Heading level="2" size="xsmall">{text.kommunikasjonsFlisLenketekstInnboks[language]}</Heading>
    <div class={styles.tagChevron}>
      <InnboksTag innbokser={innbokser} language={language} />
      <Chevron className={styles.chevron} aria-hidden={true} fontSize="24px" />
    </div>
  </a>
  <div class={`${styles.bodyContainer} ${styles[`bodyContainer${type}`]}`}>
    <BodyLong>{text.kommunikasjonsFlisIngressInnboks[language]}</BodyLong>
  </div>
</div>
<PersonalContentLogger event={"innboks"} value={type === "NyMelding" ? true : false} client:only="react" />

<script>
  import { logEvent } from "@utils/client/amplitude";

  const innboks = document.querySelector("#innboks");

  innboks?.addEventListener("click", () => {
    logEvent("innboks.json", "kommunikasjon", "InnboksContent");
  });
</script>
