---
import { INNBOKS_URL, VARSEL_API_URL } from "astro:env/server";
import { ChevronRightIcon as Chevron } from "@navikt/aksel-icons";
import { BodyLong, Heading } from "@navikt/ds-react";
import ClientError from "@src/shared/client-error/ClientError";
import PersonalContentLogger from "@src/shared/legacy/PersonalContentLogger";
import { fetchData } from "@src/shared/utils/server/fetch";
import type { Language } from "@src/shared/utils/server/language";
import logger from "@src/shared/utils/server/logger";
import { getAudience, getOboToken } from "@src/shared/utils/server/token";
import styles from "./Innboks.module.css";
import InnboksTag from "./InnboksTag";
import { text } from "./innboksText";

const audience = getAudience("tms-varsel-api");
const oboToken = await getOboToken(Astro.locals.token, audience);

let data = { innbokser: 0 };
let isError = false;

try {
  data = await fetchData(oboToken, VARSEL_API_URL);
} catch (error: any) {
  logger.error(`Fetching innboks failed. ${error.message}`);
  isError = true;
}

const innbokser = data.innbokser;
const type = innbokser > 0 ? "NyMelding" : "IngenNyMelding";
const language = Astro.currentLocale as Language;
---

{isError && <ClientError client:only="react" />}
<div class={styles.container}>
  <a class={`${styles.headerContainer} ${styles[`headerContainer${type}`]}`} href={INNBOKS_URL} id="innboks">
    <Heading level="2" size="xsmall">{text.kommunikasjonsFlisLenketekstInnboks[language]}</Heading>
    <div class={styles.tagChevron}>
      <InnboksTag innbokser={innbokser} language={language} />
      <Chevron className={styles.chevron} aria-hidden={true} fontSize="24px" />
    </div>
  </a>
  <div class={`${styles.bodyContainer} ${styles[`bodyContainer${type}`]}`}>
    <BodyLong>{text.kommunikasjonsFlisIngressInnboks[language]}</BodyLong>
  </div>
</div>
<PersonalContentLogger event={"innboks"} value={type === "NyMelding" ? true : false} client:only="react" />

<script>
  import { logEvent } from "@src/shared/utils/client/umami";

  const innboks = document.querySelector("#innboks");

  innboks?.addEventListener("click", () => {
    logEvent("innboks.json", "kommunikasjon", "InnboksContent");
  });
</script>
