---
import Authentication from "@shared/authentication/Authentication";
import { fetchDecoratorHtml } from "@navikt/nav-dekoratoren-moduler/ssr";
import { getDecoratorEnvironment } from "../../utils/server/environment";
import { getLanguage } from "../../shared/language/language";
import "./Layout.css";

export interface Props {
  title: string;
  breadcrumbs: [
    {
      title: string;
      url: string;
    },
  ];
}

const language = getLanguage(Astro.url);
const { title, breadcrumbs } = Astro.props;

const Decorator = await fetchDecoratorHtml({
  env: getDecoratorEnvironment(),
  params: {
    context: "privatperson",
    breadcrumbs: breadcrumbs,
    availableLanguages: [
      {
        locale: "nb",
        url: "https://www.nav.no/minside/nb",
        handleInApp: true,
      },
      {
        locale: "en",
        url: "https://www.nav.no/minside/en",
        handleInApp: true,
      },
      {
        locale: "nn",
        url: "https://www.nav.no/minside/nn",
        handleInApp: true,
      },
    ],
  },
});

const { DECORATOR_HEAD_ASSETS, DECORATOR_HEADER, DECORATOR_FOOTER, DECORATOR_SCRIPTS } = Decorator;
---

<!doctype html>
<html lang={language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex" />
    <title>{title}</title>
    <Fragment set:html={DECORATOR_HEAD_ASSETS} />
    <script type="importmap">
      {
        "imports": {
          "react": "https://cdn.nav.no/min-side/tms-shared-dependencies/packages/react/19.2.0/react.mjs",
          "react/jsx-runtime": "https://cdn.nav.no/min-side/tms-shared-dependencies/packages/react/19.2.0/jsx-runtime.mjs",
          "react-dom": "https://cdn.nav.no/min-side/tms-shared-dependencies/packages/react-dom/19.2.0/react-dom.mjs",
          "react-dom/client": "https://cdn.nav.no/min-side/tms-shared-dependencies/packages/react-dom/19.2.0/client.mjs",
          "scheduler": "https://cdn.nav.no/min-side/tms-shared-dependencies/packages/scheduler/0.27.0/scheduler.mjs"
        }
      }
    </script>
  </head>
  <body>
    <Fragment set:html={DECORATOR_HEADER} />
    <slot />
    <Authentication client:only="react" />
    <Fragment set:html={DECORATOR_FOOTER} />
    <Fragment set:html={DECORATOR_SCRIPTS} />
  </body>
</html>
