---
import { getOboToken } from "../../utils/server/token";
import { getLanguage } from "../../language/language";
import IngenUtbetaling from "./ingen/IngenUtbetaling.astro";
import KommendeUtbetaling from "./kommende/KommendeUtbetaling.astro";
import SisteUtbetaling from "./siste/SisteUtbetaling.astro";
import UtbetalingError from "./error/UtbetalingError";
import { fetchUtbetaling } from "./fetchUtbetaling";
import styles from "./Utbetaling.module.css";

const audience = `${process.env.NAIS_CLUSTER_NAME}:min-side:tms-utbetalingsoversikt-api`;
const oboToken = await getOboToken(Astro.locals.token, audience);

const { data, isError } = fetchUtbetaling(oboToken);
const language = getLanguage(Astro.url);
---

{isError && <UtbetalingError client:only="react" />}
<div class={styles.container}>
  {data.hasUtbetaling && (
    <SisteUtbetaling sisteUtbetaling={data.sisteUtbetaling} kommende={data.kommende} />
  )}
  {data.hasKommende && (
    <KommendeUtbetaling kommende={data.kommende} />
  )}
  {!data.hasKommende && !data.hasUtbetaling && (
    <IngenUtbetaling />
  )}
</div>