---
import { getAudience, getOboToken } from "../../utils/server/token";
import type { Language } from "../../language/language";
import IngenUtbetaling from "./ingen/IngenUtbetaling.astro";
import ClientError from "@shared/client-error/ClientError";
import { utbetalingsoversiktApiUrl } from "./utbetalingUrls";
import type { Utbetaling } from "./utbetalingTypes";
import { fetchData } from "../../utils/server/fetch";
import styles from "./Utbetaling.module.css";
import PersonalContentLogger from "@shared/legacy/PersonalContentLogger";
import SeAlle from "./se-alle/SeAlle.astro";
import EnkelUtbetaling from "./enkel-utbetaling/EnkelUtbetaling.astro";
import UtbetalingList from "./utbetaling-list/UtbetalingList.astro";
import logger from "@utils/server/logger";

interface Props {
  language: Language;
}

const audience = getAudience("tms-utbetalingsoversikt-api");
const oboToken = await getOboToken(Astro.locals.token, audience);

let data: Utbetaling = { sisteUtbetaling: null, kommende: null };
let isError = false;

try {
  data = await fetchData(oboToken, utbetalingsoversiktApiUrl);
} catch (error: any) {
  logger.error(`Fetching utbetaling failed. ${error.message}`);
  isError = true;
}

const { language } = Astro.props;

const isKommende = data.kommende && !data.sisteUtbetaling;
const isIngenUtbetaling = !data.kommende && !data.sisteUtbetaling;
const isTidligereUtbetaling = data.sisteUtbetaling && !data.kommende;
const isUtbetalingList = data.sisteUtbetaling && data.kommende;
---

{isError && <ClientError client:only="react" />}
<div class={styles.container}>
  {
    () => {
      if (isIngenUtbetaling) {
        return <IngenUtbetaling language={language} />;
      }

      if (isKommende) {
        return <EnkelUtbetaling utbetaling={data.kommende} language={language} utbetalingType="kommende" />;
      }

      if (isTidligereUtbetaling) {
        return <EnkelUtbetaling utbetaling={data.sisteUtbetaling} language={language} utbetalingType="tidligere" />;
      }

      if (isUtbetalingList) {
        return <UtbetalingList kommende={data.kommende} language={language} tidligere={data.sisteUtbetaling} />;
      }
    }
  }
  <SeAlle language={language} isKommende={isKommende} />

  <PersonalContentLogger
    event={"utbetaling"}
    value={data.hasUtbetaling || data.hasKommende ? true : false}
    client:only="react"
  />
</div>
