---
import { text } from "../../language/dokumenter";
import { Heading } from "@navikt/ds-react/cjs/typography/Heading.js";
import { BodyLong } from "@navikt/ds-react/cjs/typography/BodyLong.js";
import { BodyShort } from "@navikt/ds-react/cjs/typography/BodyShort.js";
import { getLanguage } from "../../language/language";
import styles from "./Dokumenter.module.css";

const language = getLanguage(Astro.url);
---

<div class={styles.container}>
  <div class={styles.ingenContainer}>
    <BodyShort as="h2" spacing={true}>
      {text.heading[language]}
    </BodyShort>
    <div class={styles.ingenContentContainer}>
      <Heading size="small" as="h3">
        {text.minidHeading[language]}
      </Heading>
      <BodyLong className={styles.ingenText}>{text.minidBody[language]}</BodyLong>
    </div>
    <div class={styles.ingenContentContainer}></div>
  </div>
</div>
