---
import { AKTUELT_URL } from "astro:env/server";
import { BodyShort, Skeleton } from "@navikt/ds-react";
import Microfrontend from "@src/microfrontends/Microfrontend.astro";
import ClientError from "@src/shared/client-error/ClientError";
import { fetchData } from "@src/shared/utils/server/fetch";
import type { Language } from "@src/shared/utils/server/language.ts";
import logger from "@src/shared/utils/server/logger.ts";
import { getAudience, getOboToken } from "@src/shared/utils/server/token";
import style from "./Aktuelt.module.css";
import { text } from "./aktueltText";
import type { Aktuelt } from "./aktueltTypes";

const audience = getAudience("tms-mikrofrontend-selector");
const oboToken = await getOboToken(Astro.locals.token, audience);
const language = Astro.currentLocale as Language;

let aktuelt: Aktuelt = { offerStepup: false, microfrontends: [] };
let isError = false;

try {
  aktuelt = await fetchData(oboToken, AKTUELT_URL);
} catch (error) {
  logger.error(`Fetching aktuelt failed. ${error.message}`);
  isError = true;
}
---

{isError && <ClientError client:only="react" />}
{
  () => {
    if (aktuelt.microfrontends.length === 0) {
      return null;
    } else {
      return (
        <div class={style.container}>
          <BodyShort as="h2" className={style.aktuelt} spacing>
            {text.aktuelt[language]}
          </BodyShort>
          {aktuelt.microfrontends.map((mf) => {
            return (
              <Microfrontend microfrontend={mf} language={language} server:defer>
                <Skeleton variant="rounded" width={"100%"} height={100} slot="fallback"/>
              </Microfrontend>
            );
          })}
        </div>
      )
    }
  }
}
