---
import ClientError from "@src/shared/client-error/ClientError";
import { fetchHtml } from "@src/shared/utils/server/fetch";
import logger from "@src/shared/utils/server/logger";
import { getAudience, getOboToken } from "@src/shared/utils/server/token";
import styles from "./Microfrontend.module.css";
import type { Microfrontend } from "./microfrontendTypes";

interface Props {
  microfrontend: Microfrontend;
  language: string;
}

const { microfrontend, language } = Astro.props;

const audience = getAudience(microfrontend.appname, microfrontend.namespace);
const oboToken = await getOboToken(Astro.locals.token, audience);

let isError = false;
let html;

try {
  html = await fetchHtml(oboToken, `${microfrontend.url}/${language}`);
} catch (error) {
  logger.error(
    `Failed to fetch microfrontend: ${microfrontend.appname} with url: ${microfrontend.url}. Error: ${error}`,
  );
  isError = true;
  html = await fetchHtml(oboToken, `${microfrontend.url}/${language}/${microfrontend.fallback}`);
}
---

{isError && <ClientError client:only="react" />}
<div class={styles.wrapper}>
  <Fragment set:html={html} />
</div>
