---
import { Language } from "../../../utils/server/language";
import { UtbetalingData } from "../utbetalingTypes";
import { BodyShort, Heading, Tag } from "@navikt/ds-react";
import { formatToReadableDate } from "../utbetalingUtils";
import { UTBETALINGSOVERSIKT_URL } from "astro:env/server";
import styles from "./UtbetalingList.module.css";
import { ChevronRightIcon as Chevron } from "@navikt/aksel-icons";
import { text } from "../utbetalingText";

interface Props {
  kommende: UtbetalingData;
  tidligere: UtbetalingData;
  language: Language;
}

const { kommende, tidligere, language } = Astro.props;
---

<div class={styles.wrapper}>
  <Heading level="2" size="xsmall" className={styles.heading}>{text.tittelUtbetalinger[language]}</Heading>
  <a href={`${UTBETALINGSOVERSIKT_URL}/utbetaling/${kommende.id}`} class={styles.kommendeOgTidligere} id="kommende">
    <BodyShort className={styles.datoOgYtelse}>
      <span class={styles.datoOgTag}>
        {formatToReadableDate(kommende.dato)}
        <Tag variant="success-moderate" size="small" className={styles.tag}>{text.tittelKommende[language]}</Tag>
      </span>
      <span class={styles.ytelse}>
        {kommende.ytelse}
      </span>
    </BodyShort>
    <BodyShort weight="semibold" className={styles.utbetaling}>
      {kommende.utbetaling?.toLocaleString("no-nb") + " kr"}
      <Chevron className={styles.chevron} fontSize="24px" aria-hidden={true} />
    </BodyShort>
  </a>
  <a href={`${UTBETALINGSOVERSIKT_URL}/utbetaling/${tidligere.id}`} class={styles.kommendeOgTidligere} id="tidligere">
    <BodyShort className={styles.datoOgYtelse}>
      <span>
        {formatToReadableDate(tidligere.dato)}
      </span>
      <span class={styles.ytelse}>
        {tidligere.ytelse}
      </span>
    </BodyShort>
    <BodyShort weight="semibold" className={styles.utbetaling}>
      {tidligere.utbetaling?.toLocaleString("no-nb") + " kr"}
      <Chevron className={styles.chevron} fontSize="24px" aria-hidden={true} />
    </BodyShort>
  </a>
  <script>
    import { logEvent } from "../../../utils/client/umami";

    const kommende = document.querySelector("#kommende");
    const tidligere = document.querySelector("#tidligere");

    kommende?.addEventListener("click", () => {
      logEvent("utbetaling-widget", "generell", "kommende-utbetaling");
    });
    tidligere?.addEventListener("click", () => {
      logEvent("utbetaling-widget", "generell", "tidligere-utbetaling");
    });
  </script>
</div>
