---
import { getLanguage } from "@language/language";
import { text } from "@language/personalia";
import style from "./Personalia.module.css";
import { Image } from "astro:assets";
import logo from '../../images/logo.png'
import Navn from "./Navn.astro";

const language = getLanguage(Astro.url);
---

<div class={style.container}>
  <p>Image</p>
  <Image src={logo} alt="A starry night sky." />
  <p>Image with .src</p>
  <Image src={logo.src} alt="A starry night sky." />
  <p>img</p>
  <img src={logo} alt="image description" />;
  <p>img with .src</p>
  <img src={logo.src} alt="image description" />;

  <h2 class={`${style.tekst} navds-heading navds-heading--large`}>
    <span>{text.hilsen[language]} <Navn server:defer /></span>
  </h2>
</div>


