---
import { ChevronRightIcon as Chevron } from "@navikt/aksel-icons";
import { BodyShort, Detail } from "@navikt/ds-react";
import type { Language } from "../../../utils/server/language";
import LinkWithAmplitude from "../link/LinkWithAmplitude";
import style from "./InnloggedeTjensterSection.module.css";

const language = Astro.currentLocale as Language;
const { lenker, tittel } = Astro.props;
---

<div class={style.listeContainer}>
  <Detail className={style.listeTittel}>{tittel}</Detail>
  <ul class={style.liste}>
    {
      lenker.map((link) => (
        <li class={style.link}>
          <Chevron className={style.chevron} fontSize="24px" aria-hidden={true} />
          <BodyShort>
            <LinkWithAmplitude link={link} language={language} client:only="react" />
          </BodyShort>
        </li>
      ))
    }
  </ul>
</div>
