---
import { UTBETALINGSOVERSIKT_API_URL } from "astro:env/server";
import ClientError from "@src/shared/client-error/ClientError";
import PersonalContentLogger from "@src/shared/legacy/PersonalContentLogger";
import { fetchData } from "@src/shared/utils/server/fetch";
import { getLocale } from "@src/shared/utils/server/locale";
import logger from "@src/shared/utils/server/logger";
import { getAudience, getOboToken } from "@src/shared/utils/server/token";
import EnkelUtbetaling from "./enkel/EnkelUtbetaling.astro";
import IngenUtbetaling from "./ingen/IngenUtbetaling.astro";
import UtbetalingList from "./list/UtbetalingList.astro";
import SeAlle from "./se-alle/SeAlle.astro";
import styles from "./Utbetaling.module.css";
import type { Utbetaling } from "./utbetalingTypes";
import { isIngen, isKommende, isList, isTidligere } from "./utbetalingUtils";

const audience = getAudience("tms-utbetalingsoversikt-api");
const oboToken = await getOboToken(Astro.locals.token, audience);

let utbetaling: Utbetaling = { sisteUtbetalinger: [], kommendeUtbetalinger: [] };
let isError = false;

try {
  utbetaling = await fetchData(oboToken, UTBETALINGSOVERSIKT_API_URL);
} catch (error: any) {
  logger.error(`Fetching utbetaling failed. ${error.message}`);
  isError = true;
}

const locale = getLocale(Astro.currentLocale);
---

{isError && <ClientError client:only="react" />}
<div class={styles.container}>
  {
    () => {
      if (isIngen(utbetaling)) {
        return <IngenUtbetaling locale={locale} />;
      }

      if (isKommende(utbetaling)) {
        return <EnkelUtbetaling utbetaling={utbetaling.kommendeUtbetalinger[0]} locale={locale} utbetalingType="kommende" />;
      }

      if (isTidligere(utbetaling)) {
        return <EnkelUtbetaling utbetaling={utbetaling.sisteUtbetalinger[0]} locale={locale} utbetalingType="tidligere" />;
      }

      if (isList(utbetaling)) {
        return <UtbetalingList kommende={utbetaling.kommendeUtbetalinger} locale={locale} tidligere={utbetaling.sisteUtbetalinger} />;
      }
    }
  }
  <SeAlle locale={locale} isKommende={isKommende(utbetaling)} />
  <PersonalContentLogger
    event="utbetaling"
    value={utbetaling.kommendeUtbetalinger.length > 0 || utbetaling.sisteUtbetalinger.length > 0}
    client:only="react"
  />
</div>
