---
import { UTBETALINGSOVERSIKT_API_URL } from "astro:env/server";
import ClientError from "@src/shared/client-error/ClientError";
import PersonalContentLogger from "@src/shared/legacy/PersonalContentLogger";
import { fetchData } from "@src/shared/utils/server/fetch";
import type { Language } from "@src/shared/utils/server/language";
import logger from "@src/shared/utils/server/logger";
import { getAudience, getOboToken } from "@src/shared/utils/server/token";
import EnkelUtbetaling from "./enkel/EnkelUtbetaling.astro";
import IngenUtbetaling from "./ingen/IngenUtbetaling.astro";
import UtbetalingList from "./list/UtbetalingList.astro";
import SeAlle from "./se-alle/SeAlle.astro";
import styles from "./Utbetaling.module.css";
import type { Utbetaling } from "./utbetalingTypes";
import {
  isIngenUtbetaling,
  isKommende,
  isTidligereUtbetaling,
  isUtbetalingList,
} from "./utbetalingUtils";

const audience = getAudience("tms-utbetalingsoversikt-api");
const oboToken = await getOboToken(Astro.locals.token, audience);

let utbetaling: Utbetaling = { sisteUtbetaling: null, kommende: null };
let isError = false;

try {
  utbetaling = await fetchData(oboToken, UTBETALINGSOVERSIKT_API_URL);
} catch (error: any) {
  logger.error(`Fetching utbetaling failed. ${error.message}`);
  isError = true;
}

const language = Astro.currentLocale as Language;
---

{isError && <ClientError client:only="react" />}
<div class={styles.container}>
  {
    () => {
      if (isIngenUtbetaling(utbetaling)) {
        return <IngenUtbetaling language={language} />;
      }

      if (isKommende(utbetaling)) {
        return <EnkelUtbetaling utbetaling={utbetaling.kommende} language={language} utbetalingType="kommende" />;
      }

      if (isTidligereUtbetaling(utbetaling)) {
        return <EnkelUtbetaling utbetaling={utbetaling.sisteUtbetaling} language={language} utbetalingType="tidligere" />;
      }

      if (isUtbetalingList(utbetaling)) {
        return <UtbetalingList kommende={utbetaling.kommende} language={language} tidligere={utbetaling.sisteUtbetaling} />;
      }
    }
  }
  <SeAlle language={language} isKommende={isKommende(utbetaling)} />
  <PersonalContentLogger event={"utbetaling"} value={isTidligereUtbetaling(utbetaling) || isKommende(utbetaling)} client:only="react" />
</div>
