---
import { UTBETALINGSOVERSIKT_API_URL } from "astro:env/server";
import ClientError from "@src/shared/client-error/ClientError";
import PersonalContentLogger from "@src/shared/legacy/PersonalContentLogger";
import { fetchData } from "@src/shared/utils/server/fetch";
import type { Language } from "@src/shared/utils/server/language";
import logger from "@src/shared/utils/server/logger";
import { getAudience, getOboToken } from "@src/shared/utils/server/token";
import EnkelUtbetaling from "./enkel/EnkelUtbetaling.astro";
import IngenUtbetaling from "./ingen/IngenUtbetaling.astro";
import UtbetalingList from "./list/UtbetalingList.astro";
import SeAlle from "./se-alle/SeAlle.astro";
import styles from "./Utbetaling.module.css";
import type { Utbetaling } from "./utbetalingTypes";
import { getUtbetalingState } from "./utbetalingUtils";

const audience = getAudience("tms-utbetalingsoversikt-api");
const oboToken = await getOboToken(Astro.locals.token, audience);

let utbetaling: Utbetaling = { sisteUtbetaling: null, kommende: null };
let isError = false;

try {
  utbetaling = await fetchData(oboToken, UTBETALINGSOVERSIKT_API_URL);
} catch (error: any) {
  logger.error(`Fetching utbetaling failed. ${error.message}`);
  isError = true;
}

const language = Astro.currentLocale as Language;
const utbetalingState = getUtbetalingState(utbetaling);
---

{isError && <ClientError client:only="react" />}
<div class={styles.container}>
  {
    () => {
      switch (utbetalingState.type) {
        case "ingen":
          return <IngenUtbetaling language={language} />;
        case "kommende":
          return <EnkelUtbetaling utbetaling={utbetaling.kommende!} language={language} utbetalingType="kommende" />;
        case "tidligere":
          return <EnkelUtbetaling utbetaling={utbetaling.sisteUtbetaling!} language={language} utbetalingType="tidligere" />;
        case "liste":
          return <UtbetalingList kommende={utbetaling.kommende!} language={language} tidligere={utbetaling.sisteUtbetaling!} />;
      }
    }
  }
  <SeAlle language={language} isKommende={utbetalingState.type === "kommende" || utbetalingState.type === "liste"} />
  <PersonalContentLogger event="utbetaling" value={Boolean(utbetaling.kommende || utbetaling.sisteUtbetaling)} client:only="react" />
</div>
