---
import { text } from "../../language/dokumenter";
import { BodyLong, Heading } from "@navikt/ds-react";
import { Language } from "../../language/language";
import styles from "./Dokumenter.module.css";

interface Props {
  language: Language;
}

const { language } = Astro.props;
---

<div class={styles.container}>
  <div class={styles.ingenHeadingContainer}>
    <Heading level="2" size="xsmall">
      {text.heading[language]}
    </Heading>
  </div>
  <div class={styles.ingenIngressContainer}>
    <BodyLong className={styles.ingenText}>{text.minidIngress[language]}</BodyLong>
  </div>
</div>
