---
import { utbetalingsoversiktUrl } from "../utbetalingUrls";
import { text } from "../language/text";
import { Language } from "../../../language/language";
import styles from "./SeAlle.module.css";
import { ChevronRightIcon as Chevron } from "@navikt/aksel-icons";

interface Props {
  language: Language;
  isKommende: boolean;
}

const { language, isKommende } = Astro.props;
---

<>
  <a
    href={utbetalingsoversiktUrl}
    id="seAlle"
    class={isKommende ? `${styles.container} ${styles.kommende}` : `${styles.container} ${styles.tidligere}`}
  >
    {text.alle[language]}
    <Chevron className={styles.chevron} fontSize="24px" aria-hidden={true} />
  </a>
  <script>
    import { logEvent } from "../../../utils/client/umami";

    const seAlle = document.querySelector("#seAlle");

    seAlle?.addEventListener("click", () => {
      logEvent("utbetaling-widget", "generell", "se-alle-utbetalinger");
    });
  </script>
</>
