---
import { Heading } from "@navikt/ds-react/cjs/typography/Heading.js";
import { BodyLong } from "@navikt/ds-react/cjs/typography/BodyLong.js";
import { BodyShort } from "@navikt/ds-react/cjs/typography/BodyShort.js";
import { text } from "../../../language/utbetaling";
import { utbetalingsoversiktUrl } from "../utbetalingUrls";
import { formatToReadableDate } from "../../../utils/client/utbetaling";
import type { Kommende } from "../utbetalingTypes";
import { getLanguage } from "../../../language/language";
import styles from "./KommendeUtbetaling.module.css";

interface Props {
  kommende: Kommende;
}

const { kommende } = Astro.props;
const language = getLanguage(Astro.url);
---

<>
  <div class={styles.detaljer}>
    <div class={`${styles.detaljerContainer} ${styles.kommendeUtbetaling}`}>
      <div class={styles.heading}>
        <BodyShort as="h2" spacing>
          {text.tittelNeste[language]}
        </BodyShort>
        <a
          class={styles.link}
          href={utbetalingsoversiktUrl}
          onClick={() => console.log("")}
        >
          <BodyShort>{text.alle[language]}</BodyShort>
        </a>
      </div>
      <Heading size="large">
        {kommende.utbetaling?.toLocaleString("no-nb") + " kr"}
      </Heading>
      <BodyLong>
        {formatToReadableDate(typeof kommende.dato === "string" ? kommende.dato : "")} {text.konto[language]} {kommende.kontonummer}
      </BodyLong>
    </div>
  </div>
  <div class={styles.wrapper}>
    <a
      href={`${utbetalingsoversiktUrl}/utbetaling/${kommende.id}`}
      class={`${styles.containerYtelse} ${styles.kommende}`}
    >
      <div class={styles.ytelse}>
        <BodyShort>{kommende.ytelse}</BodyShort>
        <BodyShort weight="semibold">{`${kommende.utbetaling?.toLocaleString(
          "no-nb",
        )} kr`}</BodyShort>
      </div>
    </a>
  </div>
</>