---
import { BodyShort } from "@navikt/ds-react";
import { dinOversiktUrl } from "./dinOversiktUrls";
import MicrofrontendSSR from "../../microfrontends/Microfrontend.astro";
import Produktkort from "./produktkort/Produktkort";
import Meldekort from "./meldekort/Meldekort.astro";
import { getProduktkortList } from "./dinOversiktUtils.ts";
import { produktText } from "./produktkort/ProduktText";
import { getShowDinOversikt } from "./useOversikt.ts";
import { fetchData } from "@utils/server/fetch";
import { MultiStatusError } from "@utils/server/error";
import { getAudience, getOboToken } from "@utils/server/token";
import { PersonalizedContent } from "./DinOversiktTypes";
import ClientError from "@shared/client-error/ClientError";
import type { Language } from "../../shared/language/language";
import logger from "@utils/server/logger";
import MeldekortSkeleton from "./meldekort/MeldekortSkeleton.astro";
import MicrofrontendSSRSkeleton from "../../microfrontends/MicrofrontendSkeleton.astro";
import styles from "./DinOversikt.module.css";

interface Props {
  language: Language;
}

const audience = getAudience("tms-mikrofrontend-selector");
const oboToken = await getOboToken(Astro.locals.token, audience);
const { language } = Astro.props;

let isError = false;
let personalizedContent: PersonalizedContent = {
  microfrontends: [],
  produktkort: [],
  dokumenter: [],
  meldekort: false,
  aktuelt: [],
  offerStepup: false,
};

try {
  personalizedContent = await fetchData(oboToken, dinOversiktUrl);
} catch (error: any) {
  if (error instanceof MultiStatusError) {
    personalizedContent = error.partialData as PersonalizedContent;
  }

  logger.error(`Fetching din-oversikt failed. ${error.message}`);
  logger.error(`Error: ${error}`);
  isError = true;
}

const produktkortList = getProduktkortList(language, personalizedContent);
const showDinOversikt = getShowDinOversikt(personalizedContent, produktkortList);
---

{isError && <ClientError client:only="react" />}
{
  showDinOversikt && (
    <div class={styles.oversiktContainer}>
      <BodyShort as="h2" spacing>
        {produktText.oversiktTittel[language]}
      </BodyShort>
      {personalizedContent?.meldekort && (
        <div class={styles.meldekort}>
          <Meldekort language={language} server:defer>
            <MeldekortSkeleton slot="fallback" />
          </Meldekort>
        </div>
      )}
      <div class={styles.masonry}>
        {personalizedContent?.microfrontends.map((mf) => (
          <MicrofrontendSSR microfrontend={mf} language={language} server:defer>
            <MicrofrontendSSRSkeleton slot="fallback" />
          </MicrofrontendSSR>
        ))}
        {produktkortList?.map((produktConfig) => (
          <Produktkort produktConfig={produktConfig} key={produktConfig.tittel} />
        ))}
      </div>
    </div>
  )
}
