---
import { UTKAST_API_URL, UTKAST_URL } from "astro:env/server";
import ClientError from "@src/shared/client-error/ClientError";
import { MultiStatusError } from "@src/shared/utils/server/error";
import { fetchData } from "@src/shared/utils/server/fetch";
import type { Language } from "@src/shared/utils/server/language";
import logger from "@src/shared/utils/server/logger";
import { getAudience, getOboToken } from "@src/shared/utils/server/token";
import UtkastIkon from "./assets/UtkastIkon.tsx";
import UtkastIkonHover from "./assets/UtkastIkonHover.tsx";
import style from "./Utkast.module.css";
import { text } from "./utkastText";
import type { Utkast } from "./utkastTypes";

const audience = getAudience("tms-utkast");
const oboToken = await getOboToken(Astro.locals.token, audience);

let data: Utkast = { antall: 0 };
let isError = false;

try {
  data = await fetchData(oboToken, UTKAST_API_URL);
} catch (error: any) {
  if (error instanceof MultiStatusError) {
    data = error.partialData as Utkast;
  }

  logger.error(`Fetching utkast failed. ${error.message}`);
  isError = true;
}

const language = Astro.currentLocale as Language;
const antall = data ? data.antall : 0;
const hasUtkast = antall > 0;
const ingress = antall === 1 ? text.soknad[language] : text.soknader[language](antall);
---

{isError && <ClientError client:only="react" />}
{
  hasUtkast && (
    <div class={style.wrapper} id="utkast">
      <a href={UTKAST_URL} class={style.utkast}>
        <div class={style.ikonRektangel}>
          <UtkastIkon />
          <UtkastIkonHover />
        </div>
        <div class={style.container}>
          <h3 class={style.heading}>{text.utkast[language]}</h3>
          <p class={style.tekst}>{ingress}</p>
        </div>
      </a>
    </div>
  )
}
