---
import { BodyLong, Heading } from "@navikt/ds-react";
import { text } from "@src/features/dokumenter/dokumenterText";
import type { Language } from "@src/shared/utils/server/language";
import styles from "./MinIDDokumenter.module.css";

interface Props {
  language: Language;
}

const { language } = Astro.props;
---

<div class={styles.container}>
  <div class={styles.heading}>
    <Heading level="2" size="xsmall">
      {text.heading[language]}
    </Heading>
  </div>
  <div class={styles.ingress}>
    <BodyLong className={styles.text}>{text.minidIngress[language]}</BodyLong>
  </div>
</div>
