---
import { BodyShort, Heading } from "@navikt/ds-react";
import type { Language } from "../../utils/server/language";
import styles from "./InnloggedeTjenester.module.css";
import { text } from "./innloggedeTjenesterText";
import { annetLenker, hjelpemidlerLenker, jobbLenker, personopplysningLenker } from "./innloggedeTjenesterUrls";
import InnloggedeTjensterSection from "./section/InnloggedeTjenesterSection.astro";

const language = Astro.currentLocale as Language;
const isEnglish = language === "en";
---

<div class={styles.container}>
  <Heading level="2" size="small" className={styles.tittel}>{text.innloggedeTjenester[language]}</Heading>
  {
    isEnglish ? (
      <BodyShort size="medium" className={styles.disclaimer}>
        {text.disclaimer[language]}
      </BodyShort>
    ) : null
  }
  <nav class={styles.sectionContainer}>
    <div class={styles.column}>
      <InnloggedeTjensterSection tittel={text.jobbOgOppfolging[language]} lenker={jobbLenker} />
      <InnloggedeTjensterSection tittel={text.dinOversikt[language]} lenker={hjelpemidlerLenker} />
    </div>
    <div class={styles.column}>
      <InnloggedeTjensterSection tittel={text.personopplysning[language]} lenker={personopplysningLenker} />
      <InnloggedeTjensterSection tittel={text.annet[language]} lenker={annetLenker} />
    </div>
  </nav>
</div>
