---
import { getLanguage } from "../../../language/language";
import { innboksUrl } from "../innboksUrls";
import { text } from "../../../language/innboks";
import { BodyLong } from "@navikt/ds-react/cjs/typography/BodyLong.js";
import { BodyShort } from "@navikt/ds-react/cjs/typography/BodyShort.js";
import { Skeleton } from "@navikt/ds-react/cjs/skeleton/Skeleton.js";
import styles from "../Innboks.module.css";

const language = getLanguage(Astro.url);
---

<div class={styles.container}>
  <div class={styles.content}>
    <a class={`${styles.headerContainer} ${styles.headerContainerIngenNyMelding}`} href={innboksUrl}>
      <BodyShort as="h2">{text.kommunikasjonsFlisLenketekstInnboks[language]}</BodyShort>
      <div class={styles.tagChevron}>
        <Skeleton width={120} height={24} />
      </div>
    </a>
    <div class={`${styles.bodyContainer} ${styles.bodyContainerIngenNyMelding}`}>
      <BodyLong>{text.kommunikasjonsFlisIngressInnboks[language]}</BodyLong>
    </div>
  </div>
</div>


