---
import { Heading, BodyShort } from "@navikt/ds-react";
import { text } from "../language/text";
import { formatToReadableDate } from "../utils/utbetaling";
import type { UtbetalingData } from "../utbetalingTypes";
import type { Language } from "../../../language/language";
import styles from "./EnkelUtbetaling.module.css";
import { utbetalingsoversiktUrl } from "../utbetalingUrls";
import { ChevronRightIcon as Chevron } from "@navikt/aksel-icons";

interface Props {
  utbetaling: UtbetalingData;
  language: Language;
  utbetalingType: "kommende" | "tidligere";
}

const { utbetaling, language, utbetalingType } = Astro.props;

const containerStyling = {
  kommende: `${styles.container} ${styles.kommende}`,
  tidligere: `${styles.container} ${styles.tidligere}`,
}[utbetalingType];

const seDetaljerStyling = {
  kommende: `${styles.seDetaljer} ${styles.seDetaljerKommende}`,
  tidligere: `${styles.seDetaljer} ${styles.seDetaljerTidligere}`,
}[utbetalingType];
---

<a class={containerStyling} href={`${utbetalingsoversiktUrl}/utbetaling/${utbetaling.id}`}>
  <span class={styles.headingContainer} id={utbetalingType === "kommende" ? "kommende" : "tidligere"}>
    <Heading level="2" size="xsmall">
      {utbetalingType === "kommende" ? text.tittelKommende[language] : text.tittelTidligere[language]}
    </Heading>
    <BodyShort className={seDetaljerStyling} id={utbetalingType === "kommende" ? "kommende" : "tidligere"}>
      {text.seDetaljer[language]}
      <Chevron className={styles.chevron} fontSize="24px" aria-hidden={true} />
    </BodyShort>
  </span>
  <Heading level="3" size="large">
    {utbetaling.utbetaling?.toLocaleString("no-nb") + " kr"}
  </Heading>
  <BodyShort
    >{
      `${utbetaling.ytelse} — ${utbetalingType === "kommende" ? text.utbetales[language] : text.utbetalt[language]} ${formatToReadableDate(utbetaling.dato)}`
    }</BodyShort
  >
</a>
<script>
  import { logEvent } from "../../../utils/client/umami";

  const kommende = document.querySelector("#kommende");
  const tidligere = document.querySelector("#tidligere");

  kommende?.addEventListener("click", () => {
    logEvent("utbetaling-widget", "generell", "kommende-utbetaling");
  });
  tidligere?.addEventListener("click", () => {
    logEvent("utbetaling-widget", "generell", "tidligere-utbetaling");
  });
</script>
